.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
    box-sizing: border-box;
}

.main-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
    box-sizing: border-box;
}

.inner-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
    width: 100%;
    box-sizing: border-box;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.app-shell {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}



@media (min-width: 1400px) {

    .main-container,
    .inner-container {
        padding: 0 2rem;
    }
}