.forgot-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #FAF3E0;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.forgot-password-container h3 {
    font-family: 'Merriweather', serif;
    font-size: 20px;
    margin-bottom: 15px;
    color: #4A3F35;
}

.forgot-password-container input {
    width: 100%;
    padding: 12px;
    border: 2px solid #E6CCB2;
    border-radius: 8px;
    font-size: 16px;
    font-family: 'Montserrat';
    margin-bottom: 10px;
    transition: border-color 0.3s ease-in-out;
}

.forgot-password-container input:focus {
    outline: none;
    border-color: #C29D7E;
}

.forgot-password-container button {
    width: 100%;
    padding: 12px;
    background-color: #C29D7E;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

.forgot-password-container button:hover {
    background-color: #A67C5B;
}

.reset-message {
    color: green;
    font-size: 14px;
    margin-top: 10px;
}

.back-to-login {
    color: #C29D7E;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
}

.back-to-login:hover {
    text-decoration: underline;
}