.header {
    background-color: #fff;
    padding: 20px;
    border-bottom: 2px solid #ccc;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-left {
    display: flex;
    gap: 20px;
}

.nav-link {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.nav-link .home-link {
    font-weight: bold;
    text-decoration: underline;
}

.logo {
    text-align: center;
    margin: 10px 0;
}

.logo-image {
    max-width: 180px; /* Ajuster la largeur maximale du logo */
    height: auto; /* Maintenir les proportions de l'image */
    display: block; /* S'assurer que l'image est centrée si nécessaire */
    margin: 0 auto; /* Centrer horizontalement */
}

.icons {
    display: flex;
    gap: 20px;
    font-size: 20px;
}

.icon {
    cursor: pointer;
}

.propositions {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 10px;
}

.proposition {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.proposition:hover {
    color: #007bff;
}