.header {
    background-color: #fff;
    padding: 20px;
    border-bottom: 2px solid #ccc;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    text-align: center;
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    box-sizing: border-box;
    position: relative;
}

.nav-left {
    display: flex;
    gap: 20px;
}

.nav-link {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Merriweather';
    padding-right: 20px;
}

.home-link {
    font-weight: bold;
    text-decoration: underline;
    text-underline-offset: 10px;
}

.logo {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-image {
    max-width: 100px; /* Ajuster la largeur maximale du logo */
    height: auto; /* Maintenir les proportions de l'image */
    margin-top: 20px;
}

.icons {
    display: flex;
    gap: 20px;
    font-size: 20px;
}

.icon {
    cursor: pointer;
    fill: none; /* Pas de remplissage */
    stroke: #000; /* Contours noirs */
}

.propositions {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
    width: 100%;
}

.proposition {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Merriweather';
    padding-right: 20px;
    cursor: pointer;
}